.section table thead tr th:nth-child(1){
    width: 300px;
}
.column {
    float: left;
    width: 50%; /* Two columns per row */
    margin-bottom: 16px;
    padding: 0 8px;
    box-sizing: border-box;
    text-align: center; /* Center the content in the column */
}

img {
    width: 33%; /* Image size set to 33% */
    height: 33%; /* Maintain aspect ratio */
    object-fit: cover;
    border-radius: 50%;
}
@media screen and (max-width: 800px) {
    .column {
        width: 100%;
        display: block;
    }
}
a {
    color: inherit;
}
p {
    text-align: center;
}
